openapi: 3.0.3
info:
  title: Opensea API
  description: Opensea NFT marketplace REST api spec
  version: 1.0.0

servers:
  - url: https://api.opensea.io
    description: Production API

security:
  - apiKeyAuth: []

paths:
  /api/v2/accounts/{username}:
    get:
      summary: Get account
      description: Get an OpenSea Account Profile including details such as bio, social media usernames, and profile image.
      operationId: getAccount
      parameters:
        - name: username
          in: path
          required: true
          description: The account to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Account not found
        '500':
          description: Server error
  /api/v2/collections/{collection_slug}:
    get:
      summary: Get collection
      description: Get a single collection including details such as fees, traits, and links.
      operationId: getCollection
      parameters:
        - name: collection_slug
          in: path
          required: true
          description: collection to retrieve
          schema:
            type: string
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          description: Collection not found
        '500':
          description: Server error
  /api/v2/offers/collection/{collection_slug}:
    get:
      summary: Get collection offers
      description: Get the active, valid collection offers for the specified collection.
      operationId: getCollectionOffers
      parameters:
        - name: collection_slug
          in: path
          required: true
          description: collection to retrieve
          schema:
            type: string
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffersResponse'
        '400':
          description: Collection not found
        '500':
          description: Server error
  /api/v2/collections/{collection_slug}/stats:
    get:
      summary: Get collection stats
      description: Retrieve statistical data for a specific collection, including volume, sales, and other metrics.
      operationId: getCollectionStats
      parameters:
        - name: collection_slug
          in: path
          required: true
          description: The slug identifier for the collection to retrieve stats for.
          schema:
            type: string
      responses:
        '200':
          description: A successful response containing the collection's statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionStatsResponse'
        '400':
          description: Collection not found
        '500':
          description: Server error
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    Account:
      type: object
      required:
        - address
        - username
        - profile_image_url
        - banner_image_url
        - website
        - bio
        - joined_date
      properties:
        address:
          type: string
          description: The account address
        username:
          type: string
          description: The username associated with the account
        profile_image_url:
          type: string
          description: URL of the profile image
        banner_image_url:
          type: string
          description: URL of the banner image
        website:
          type: string
          description: The website URL of the user
        social_media_accounts:
          type: array
          description: List of associated social media accounts
          items:
            type: object
            properties:
              platform:
                type: string
                description: Social media platform name
              username:
                type: string
                description: Social media username
        bio:
          type: string
          description: A short biography of the account holder
        joined_date:
          type: string
          description: The date when the account was created
    Offer:
      type: object
      properties:
        order_hash:
          type: string
          description: The hash of the order.
        chain:
          type: string
          description: The blockchain on which the offer exists (e.g., "ethereum").
        price:
          type: object
          description: The price details of the offer.
          properties:
            currency:
              type: string
              description: The currency used for the offer (e.g., "WETH").
            decimals:
              type: integer
              description: Number of decimals for the currency.
            value:
              type: string
              description: The value of the offer in currency units.
        criteria:
          type: object
          description: The offer criteria.
          properties:
            collection:
              type: object
              description: The collection criteria.
              properties:
                slug:
                  type: string
                  description: The slug identifier of the collection.
            contract:
              type: object
              description: The contract criteria.
              properties:
                address:
                  type: string
                  description: The contract address.
            trait:
              type: object
              description: The trait criteria.
              properties:
                type:
                  type: string
                  description: The type of the trait (e.g., "Background").
                value:
                  type: string
                  description: The value of the trait (e.g., "Yellow").
            encoded_token_ids:
              type: string
              description: Encoded token IDs. Use "*" for all tokens.
        protocol_data:
          type: object
          description: Data related to the protocol of the offer.
          properties:
            parameters:
              type: object
              description: The offer parameters.
              properties:
                offerer:
                  type: string
                  description: Address of the offerer.
                offer:
                  type: array
                  description: The list of items included in the offer.
                  items:
                    type: object
                    properties:
                      itemType:
                        type: integer
                        description: The type of item (e.g., 1 for ERC20).
                      token:
                        type: string
                        description: Token address.
                      identifierOrCriteria:
                        type: string
                        description: Identifier or criteria for the token.
                      startAmount:
                        type: string
                        description: The starting amount for the offer.
                      endAmount:
                        type: string
                        description: The ending amount for the offer.
                consideration:
                  type: array
                  description: The list of considerations for the offer.
                  items:
                    type: object
                    properties:
                      itemType:
                        type: integer
                        description: The type of item (e.g., 1 for ERC721).
                      token:
                        type: string
                        description: Token address.
                      identifierOrCriteria:
                        type: string
                        description: Identifier or criteria for the token.
                      startAmount:
                        type: string
                        description: The starting amount for the consideration.
                      endAmount:
                        type: string
                        description: The ending amount for the consideration.
                      recipient:
                        type: string
                        description: Address of the recipient.
                startTime:
                  type: string
                  description: The start time of the offer (as a string timestamp).
                endTime:
                  type: string
                  description: The end time of the offer (as a string timestamp).
                orderType:
                  type: integer
                  description: The type of order.
                zone:
                  type: string
                  description: Address of the zone.
                zoneHash:
                  type: string
                  description: The hash of the zone.
                salt:
                  type: string
                  description: A unique value to prevent duplicate orders.
                conduitKey:
                  type: string
                  description: The conduit key for the order.
                totalOriginalConsiderationItems:
                  type: integer
                  description: Total number of original consideration items.
                counter:
                  type: integer
                  description: Counter value of the order.
            signature:
              type: string
              description: The signature of the protocol data. May be null.
        protocol_address:
          type: string
          description: The protocol address.
    Collection:
      type: object
      required:
        - collection
        - name
        - description
        - image_url
        - owner
        - total_supply
        - created_date
      properties:
        collection:
          type: string
          description: The slug identifier of the collection
        name:
          type: string
          description: The name of the collection
        description:
          type: string
          description: A detailed description of the collection
        image_url:
          type: string
          description: URL of the collection's image
        banner_image_url:
          type: string
          description: URL of the collection's banner image
        owner:
          type: string
          description: The Ethereum address of the collection owner
        safelist_status:
          type: string
          description: The safelist status of the collection
        category:
          type: string
          description: The category of the collection
        is_disabled:
          type: boolean
          description: Whether the collection is disabled
        is_nsfw:
          type: boolean
          description: Indicates if the collection contains NSFW content
        trait_offers_enabled:
          type: boolean
          description: Flags if trait offers are enabled
        collection_offers_enabled:
          type: boolean
          description: Flags if collection offers are enabled
        opensea_url:
          type: string
          description: URL to view the collection on OpenSea
        project_url:
          type: string
          description: Official project URL
        wiki_url:
          type: string
          description: URL to the wiki page (if available)
        discord_url:
          type: string
          description: Collection's Discord URL
        telegram_url:
          type: string
          description: Collection's Telegram URL
        twitter_username:
          type: string
          description: Twitter username associated with the collection
        instagram_username:
          type: string
          description: Instagram username associated with the collection
        contracts:
          type: array
          description: List of contract details for the collection
          items:
            type: object
            properties:
              address:
                type: string
                description: Contract address
              chain:
                type: string
                description: Blockchain of the contract
        editors:
          type: array
          description: List of editor addresses
          items:
            type: string
        fees:
          type: array
          description: List of fees associated with the collection
          items:
            type: object
            properties:
              fee:
                type: number
                format: double
                description: Fee percentage
              recipient:
                type: string
                description: Address of the fee recipient
              required:
                type: boolean
                description: Whether the fee is required
        rarity:
          type: object
          description: Rarity-related metadata
          properties:
            strategy_id:
              type: string
              description: Rarity calculation strategy identifier
            strategy_version:
              type: string
              description: Version of the rarity calculation strategy
            calculated_at:
              type: string
              description: Timestamp when the rarity was calculated
            max_rank:
              type: integer
              description: Maximum rank of tokens
            tokens_scored:
              type: integer
              description: Number of tokens scored
        payment_tokens:
          type: array
          description: List of payment tokens supported by the collection
          items:
            type: object
            properties:
              symbol:
                type: string
                description: Payment token symbol
              address:
                type: string
                description: Address of the payment token
              chain:
                type: string
                description: Blockchain of the payment token
              image:
                type: string
                description: URL of the payment token's image
              name:
                type: string
                description: Name of the token
              decimals:
                type: integer
                description: Number of decimals of the token
              eth_price:
                type: string
                description: Price of the token in ETH
              usd_price:
                type: string
                description: Price of the token in USD
        total_supply:
          type: integer
          description: Total number of items in the collection
        created_date:
          type: string
          description: Creation date of the collection
    OffersResponse:
      type: object
      description: Response object wrapping the offers array.
      properties:
        offers:
          type: array
          description: A list of offers in the response.
          items:
            $ref: '#/components/schemas/Offer'
    CollectionStatsResponse:
      type: object
      description: A response containing statistics for a specific collection.
      required:
        - total
        - intervals
      properties:
        total:
          type: object
          description: Aggregated statistics for the collection.
          required:
            - volume
            - sales
            - average_price
            - num_owners
            - market_cap
            - floor_price
            - floor_price_symbol
          properties:
            volume:
              type: number
              format: double
              description: Total trading volume of the collection.
            sales:
              type: number
              format: double
              description: Total sales transactions for the collection.
            average_price:
              type: number
              format: double
              description: Average price of items in the collection.
            num_owners:
              type: integer
              description: Number of unique owners of the collection.
            market_cap:
              type: number
              format: double
              description: The market cap of the collection.
            floor_price:
              type: number
              format: double
              description: The lowest price of items in the collection.
            floor_price_symbol:
              type: string
              description: The currency or token symbol for the floor price.
        intervals:
          type: array
          description: Time interval statistics for the collection.
          items:
            type: object
            required:
              - interval
              - volume
              - volume_diff
              - volume_change
              - sales
              - sales_diff
              - average_price
            properties:
              interval:
                type: string
                description: The interval data is associated with (e.g., "one_day").
                enum: ["one_day", "seven_day", "thirty_day"]
              volume:
                type: number
                format: double
                description: Trading volume during the interval.
              volume_diff:
                type: number
                format: double
                description: Difference in trading volume compared to the previous interval.
              volume_change:
                type: number
                format: double
                description: Percentage change in volume compared to the previous interval.
              sales:
                type: number
                format: double
                description: Number of sales during the interval.
              sales_diff:
                type: number
                format: double
                description: Difference in sales compared to the previous interval.
              average_price:
                type: number
                format: double
                description: The average price during the interval.
